@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F8;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-geist-sans);
  display: grid;
  grid-template-areas:
      "header header"
      "aside main"
      "aside footer";
  grid-template-rows: 8vh 1fr 0.01fr;
  grid-template-columns: 400px 1fr;
  height: 100vh;
}

header {
  grid-area: header;
  background: transparent;
  padding: 10px;
  text-align: center;
  
}

nav {
  grid-area: nav;
  background: transparent;
  padding: 10px;
}

aside {
  grid-area: aside;
  padding: 10px;
  border-top-right-radius: 2.5rem;
}

main {
  grid-area: main;
  padding: 50px;
  background: #fff;
  border-radius: 40px;
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: var(--foreground);
}
.logo-img {
  min-width: 100px;
  /* background: linear-gradient(15deg, #FF8C00, #FFD700); */
}
.logo-container{
  height: 100%;
  @apply flex
}

.logo-text {
  color: #1d3731;
  font-size: 20px;
  font-weight: bold;
  @apply flex-1 h-full
}

/* Links in the navigation */
nav li {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  min-width: 110px;
}

nav a:hover {
  color: #e0e0e0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  /* @apply p-8 bg-gray-300 outline outline-2 outline-gray-500 mx-3 my-6 */
  @apply bg-slate-50 p-6 shadow-lg flex items-center space-x-4 my-4
}

.card.first{
  @apply  rounded-t-lg
}

.card.last{
  @apply  rounded-b-lg
}