
.expence-container{
    @apply flex flex-row h-full;
}

.form-section{
    min-width: 300px;
    @apply flex flex-col w-1/4 h-full border border-slate-300;
}

.details-section{
    @apply flex flex-col w-3/4 h-full;
}

.sumary-cards{
    @apply border border-slate-300;
    height: 123px
}

.expence-details{
    @apply border border-slate-300 grow;
}
thead tr th{
    @apply text-center border border-sky-500
}

tbody tr td{
    @apply border border-sky-500 pl-3
}

.inputStyle {
    border-color: var(--foreground);
    @apply w-full py-1 mt-9 border-2
}